@import "bootstrap/dist/css/bootstrap.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
    width: 100%;
}
.listwrapper {
    margin: 0;
    padding: 0;
}
.listItem {
    border: 1px solid blue;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}
.main {
  padding: 10px;
}

.header { 
  border-bottom: 1px solid orange; 
}

.header__content-wrapper { 
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 5px 5px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch {
  display: flex;
  align-items: center;
  gap: 10px;
 }
.switch__label {
  white-space: nowrap; 
}

.slider-container {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.content {
  min-height: 100vh;
}
.header__logo {
  display: flex;
  list-style: none;
}
.header__logo li {
  padding: 5px;
}

.header button {
  padding: 5px 15px; 
}

.container .form {
 padding: 0 10px 0 10px;
}

