/* Убираем лишние отступы и настраиваем базовую высоту */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  /* Убираем flex, чтобы MUI Box в LoginPage сам управлял центрированием */
  display: block; 
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* Растягиваем корневой элемент на всю высоту */
  height: 100%;
  width: 100%;
}

/* Настраиваем шрифты, если они не заданы в теме MUI */
* {
  box-sizing: border-box;
}