*,
*::before,
*::after {
  box-sizing: border-box;
}
.container_ {
  max-width: 1230px;
  margin: 10px auto;
  padding: 0 15px;
}
.wrapper {
  border: 2px solid #464ba3;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container_ li {
  font-size: 24px;
}
.container_ h1 {
  text-align: center;
}
p {
  font-size: 24px;
  margin: 0;
}
#open-save {
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  gap: 20px;
}
#open-save ul {
  margin: 0;
}
#open-save li:nth-child(1) {
  margin-right: 20%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.todo_set {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
ul {
  padding-left: 0px;
}
#todo_list {
  padding: 0;
  margin: 0;
}
#todo_list li {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 7px;
  align-items: center;
  padding-left: 7px;
}

#todo_list span {
  width: 100%;
  text-align: left;
}

#myInput {
  width: 86%;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
input {
  margin-right: 10px;
}

.button_delete {
  display: flex;
  width: 150px;
  font-size: 16px;
  vertical-align: middle;
  background-color: #464ba3;
  text-align: center;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #464ba3;
  align-items: center;
  justify-content: center;
}
.button_delete:hover {
  color: #464ba3;
  cursor: pointer;
  background: #fff;
  border: 2px solid #464ba3;
  transition: all 0.15s;
}

.button_add {
  width: 150px;
  font-size: 16px;
  vertical-align: middle;
  background-color: #236c0d;
  text-align: center;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #236c0d;
  align-items: center;
  justify-content: center;
}
.button_add:hover {
  color: #236c0d;
  cursor: pointer;
  background: #fff;
  border: 2px solid #236c0d;
  transition: all 0.15s;
}
.button_open {
  display: flex;
  width: 150px;
  font-size: 16px;
  vertical-align: middle;
  background-color: #b43625;
  text-align: center;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #b43625;
  align-items: center;
  justify-content: center;
}
.button_open:hover {
  color: #b43625;
  cursor: pointer;
  background: #fff;
  border: 2px solid #b43625;
  transition: all 0.15s;
}
.button_save {
  display: flex;
  width: 150px;
  font-size: 16px;
  vertical-align: middle;
  background-color: #107088;
  text-align: center;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #107088;
  align-items: center;
  justify-content: center;
}
.button_save:hover {
  color: #107088;
  cursor: pointer;
  background: #fff;
  border: 2px solid #107088;
  transition: all 0.15s;
}
.completed .task_text {
  text-decoration: line-through;
  color: #888;
}
.clickable-text {
  cursor: pointer; /* Делает курсор похожим на ссылку */
  user-select: none; /* Предотвращает выделение текста при клике */
}
