
@import "bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.listwrapper {
    margin: 0;
    padding: 0;
}

.listItem {
    border: 1px solid blue;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}
.main {
  padding: 10px;
}
.header{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border-bottom: 1px solid orange;
  
}
.footer {
  padding: 10px;
  display: flex;
  /* justify-content: space-between; */
}
.content {
  height: 100vh;
}
.logo {
  padding-right: 10px;
}
.header {
  border-bottom: 1px solid orange;
}
.header__logo {
  display: flex;
  list-style: none;
}
.header__logo li {
  padding: 5px;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid orange;
}

.header button {
  padding: 5px 15px; 
}

.container .form {
 padding: 0 10px 0 10px;
}

