*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  border: 2px solid #464ba3;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.wrapper #clock,
#date,
#dayOfWeek {
  font-size: 30px;
}
#vidgetMeteo {
  display: flex;
  max-width: 700px;
  align-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background-color: #b5b7de;
}
#weather-info2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
#weather-info22 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.weather-icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
#div2 {
  width: 50%;
  max-width: 350px;
  display: flex;
  justify-content: center;
}
#div1,
#div3 {
  width: 50%;
  max-width: 350px;
  vertical-align: middle;
}
#div4 {
  display: flex;
  align-items: start;
  width: 50%;
  max-width: 350px;
}

.container h1 {
  text-align: center;
}
p {
  font-size: 24px;
  margin: 0;
}

.button_refresh {
  width: 50px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  background-color: #236c0d;
  text-align: center;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #236c0d;
  align-items: center;
  margin-left: auto;
}
.button_refresh:hover {
  color: #236c0d;
  cursor: pointer;
  background: #fff;
  border: 2px solid #236c0d;
  transition: all 0.15s;
}
